<div class="content" role="main" style="display: none;">
  <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
  </div>
</div>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body style="padding-top: 90px;">
      <div class="bgLogin"></div>
    <div class="p-grid">
      <div class="p-col-12 p-md-2">
          <p-scrollPanel [style]="{width: '100%','padding-left':'70px'}">
            <p style="padding-top: 10px;"><a  href="#" (click)="presionado()"><button *ngIf="btnPresionado" pButton pRipple type="button"  icon="pi pi-user" class="p-button-rounded p-button-text"></button>Clients</a></p>
            <p  style="padding-top: 10px;"><a  href="#">Clients</a></p>
            <p style="padding-top: 10px;"><a href="#">Client look History</a></p>
            <p style="padding-top: 10px;"><a href="#">Emergency PIN confguration</a></p>
            <p style="padding-top: 10px;"><a href="#">Emergency PIN history</a></p>
            
          </p-scrollPanel>
      </div>
      <div class="p-col-12 p-md-10">
          <p-scrollPanel [style]="{width: '100%'}" styleClass="custombar1">
            <app-list-client></app-list-client>
          </p-scrollPanel>
      </div>
      
  </div>
  </body>
    
       
   